*{
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100vw;
    background-image: url('https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg');
    background-size: cover;
}